.add{
    
    // padding: 10px;

    form{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 250px;
        height: 250px;
        
        label{
            color: tomato;
            font-weight: 500;
        }

        input::placeholder, textarea::placeholder{
            font-family: 'Be Vietnam Pro', sans-serif;
            color: #999;
        }

        input{
            border-bottom: 1px solid tomato;
            padding-bottom: 3px;
        }
        textarea{
            border-bottom: 1px solid tomato;
            font-family: 'Be Vietnam Pro', sans-serif;
        }
        .submit-btn{
            background-color: tomato;
            color: #fff;
            padding: 10px 10px;
            font-weight: 600;
            font-size: 13px;
        }
    }
}