*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

input, button, textarea{
    border: none;
}

body{
    font-size: 1.4rem;
    font-family: 'Be Vietnam Pro', sans-serif;
    line-height: 1.3;
    font-weight: 300;
}

.mapboxgl-popup-close-button{
    font-size: 20px;
    padding: 5px;
}
.mapboxgl-popup{
    z-index: 1;
}
.nav-bar{
    padding: 20px;
    display: flex;
    gap: 5px;
    justify-content: flex-end;
    align-content: center;
    z-index: 10;
    width: 100%;
    background-color: rgba(0,0,0,.6);

    button{
        background: none;
        cursor: pointer;
        padding: 8px 15px;
        background-color: #fff;
        font-size: 1.3rem;
        font-weight: 600;
        letter-spacing: .3px;
        color: #444;
    }
}

@import 'forms.scss';