*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.4rem;
    font-family: 'Be Vietnam Pro', sans-serif;
    line-height: 1.3;
    font-weight: 300;
}

@import 'forms.scss';